@inherits LayoutComponentBase

<MudThemeProvider />


@*<div id="loginPage" class="limiter" style="background-image: url('MyImages/Login/LoginFon_1.png');background-size: contain; height:750px">
    <div style="width:580px; border-radius:70px">
    @Body
    </div>
    </div>*@








<MudLayout>
    <MudMainContent>
        @*<MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16" Style="background-image: url('/MyImages/Login/LoginFon_1.png');background-size: contain">*@
        <MudContainer MaxWidth="MaxWidth.Small" Class="my-1 pt-16">

            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

