@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*<div id="loginPage" class="limiter" style="background-image: url('MyImages/Login/LoginFon_1.png');background-size: contain; height:750px">
    <div style="width:580px; border-radius:70px">
    @Body
    </div>
    </div>*@








<MudLayout Style="background-image: url(MyImages/Login/LoginFon.png); background-size:cover">
    <MudMainContent Style="padding:0px;height:650px">
        <MudContainer MaxWidth="MaxWidth.Small" Class="my-1 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

