@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
    <NavMenu />
    </div>

    <main>
    <div class="top-row px-4">
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <article class="content px-4">
    @Body
    </article>
    </main>
    </div>*@

@*<div class="wrapper">*@
    @*<MainHeader />
    <link href="MyCSS/LeftSideBar/SideBarText.css" rel="stylesheet" />
    <MainSidebar />*@
       
    @*<div class="content-wrapper" style="background-color:cornsilk">*@
        <div id="page-content" class="content">
            <br />
            <div id="dashPage" class="container-fluid">

                @Body
            </div>
        </div>

    @*</div>*@
@*</div>*@

