<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background-color:coral">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            @*@Html.ActionLink("Hızlı Satış", "QuickSale", "SalesController")*@
            <a href="/Sales/QuickSale" id="nvbQuickSale" class="nav-link" style="color:white">Hızlııı</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link" style="color:white">Paket Satışı</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

        <!-- "Yemek Sepeti" Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" title="Yemek Sepeti">
                <img src="MyImages/Layout/yemekSepeti.ico" class="brand-image img-circle elevation-3" style="opacity: .8; height:25px">
                @*<i class="far fa-comments"></i>*@
                <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">

                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                1 adet onay bekleyen siparişiniz var
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">Onay bekleyen sipariş...</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 dk önce</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>

                <div class="dropdown-divider"></div>

                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">Siparişlerime Git</a>
            </div>
        </li>
        <li><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <!-- "Getir" Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <img src="MyImages/Layout/Getir_icon.ico" class="brand-image img-circle elevation-3" style="opacity: .8; height: 25px">
                @*<i class="far fa-bell"></i>*@
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">Teslim edilmeyen</span>
                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 adet teslim edilmemiş sipariş var
                    <span class="float-right text-muted text-sm">30 dk</span>
                </a>

                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">Siparişlerime Git</a>
            </div>
        </li>
        <li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <!-- USER EDIT Dropdown Menu -->
        <li class="nav-item dropdown">
            <a href="#" id="inputID" class="nav-link" title="Ayarlar">
                <i class="fas fa-user-edit"></i>
            </a>
            <div style="position:absolute; right:-75px; visibility:visible; width:280px">
                <ul class="dropdown-menu" id="userEditMenu">
                    <!-- User image -->
                    <li class="user-header">
                        <div style="text-align:center">
                            <img src="MyImages/Layout/oncu.png" width="150" class="img-circle" alt="User Image">
                        </div>
                        <div style="text-align:center; margin-top:5px">
                            <p id="currentUserName" style="font-family: cursive; text-align: center">
                                @*@activeUser.FirstName @activeUser.LastName*@Aktif Kullanıcı Adı Gir
                            </p>
                        </div>
                        <div style="text-align:center">
                            <p style="text-align:center">
                                <small id="smallEmail">@*@activeUser.Email*@Kullanıcı Email Gir</small>
                            </p>
                        </div>
                    </li>
                    <!-- Menu Body -->
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <nav class="navbar navbar-expand-xl navbar-light bg-light">
                            <table id="tblUserdrop">
                                <tr>
                                    <td>
                                        <button type="button" id="btnupdate" class="btn btn-block btn-info" style="height:75px">Bilgilerimi Güncelle</button>
                                    </td>
                                    <td id="ddm">
                                        <div id="divBranchList" style="width:155px; padding-bottom:40px;height:40px">
                                            <select id="branchList" name="mySelection" class="form-control select2bs4" onchange="this.options[this.selectedIndex].getAttribute('authrtyid');">
                                                <option authrtyid="0" value="0">Şube Değiştir</option>
                                                @*@foreach (string item in brchnms)
                                                    {
                                                    <option authrtyid="@authryids[(brchnms.IndexOf(item))]" value="@ubids[(brchnms.IndexOf(item))]">@item</option>}*@
                                            </select>
                                        </div>
                                        <div id="choiseAccept" style="padding-top:2px">
                                            <button id="btnAcceptBranch" type="button" class="btn btn-block btn-info" style="width: 155px; height: 33px; color: lightslategrey; text-align: center; vertical-align: middle; background-color:white;">Seçimi Onayla</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </nav>
                    </li>
                </ul>

            </div>
        </li>
        <li><span>&nbsp;&nbsp;</span></li>
        @*-------------------------Log Out---------------------------------*@
        <li class="nav-item">
            <a class="nav-link" href="/Home/LogOut" title="çıkış yap">
                <i class="fas fa-sign-out-alt fa-lg"></i>
            </a>
        </li>
        @*-------------------------Full Screen-----------------------------*@
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        @*-------------------------Right side bar--------------------------*@
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>

    </ul>
</nav>
