.mud-breadcrumb-item > a {
    /*display: flex;
    align-items: center;*/
    color:ghostwhite;
}

.mud-appbar {
    background-color: #fb1b1b;
    height: 40px;
}

.mud-appbar .mud-toolbar-appbar {
    height: 40px;
}

.mud-avatar.mud-avatar-medium#getir {
    width: 27px;
    height: 27px;
    font-size: 1.25rem;
    margin-top: 5px;
}

.mud-avatar.mud-avatar-medium#yemekSepeti {
    width: 33px;
    height: 33px;
    font-size: 1.25rem;
    margin-top: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255,0,0);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    --sk-color: white;
    
}